<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создание группы/курса</title>
</head>
<body>
<form action="#" th:action="@{/group-create}" th:object="${group}" method="post">
    <label for="numberCource">Номер курса</label>
    <input type="number" th:field="*{numberCource}" id="numberCource" placeholder="Номер курса вписать сюда">
    <br/>
    <label for="numberGroup">Номер группы</label>
    <input type="number" th:field="*{numberGroup}" id="numberGroup" placeholder="Номер группы вписать сюда">
    <br/>
    <input type="submit" value="Добавить">
</form>
</body>
</html>