<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<style>
body {
  font-family: arial, sans-serif;
  font-size: 1em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #FFEFD5;
}


</style>
<head>
    <meta charset="UTF-8">
    <title>Преподаватели</title>
</head>
<body>
<div th:switch="${lecturers}">
    <h2 th:case="null">Список препоавателей не найден</h2>
    <div th:case="*">
        <h2>Преподаватели</h2>
        <table>
            <thead>
            <tr>
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <th>Id</th>
                </div>
                <th>Имя преподавателя</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lecturer : ${lecturers}">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <td th:text="${lecturer.id}"></td>
                </div>
                <td th:text="${lecturer.user}"></td>
                <td><a th:href="@{records/lecturer-{id}/(id=${lecturer.id})}">Расписание</a></td>
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <td><a th:href="@{lecturer-update/{id}(id=${lecturer.id})}">Редактировать</a></td>
                    <td><a th:href="@{lecturer-delete/{id}(id=${lecturer.id})}">Удалить</a></td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <p><a href="/lecturer-create">Добавить преподавателя</a></p>
    </div>
</div>
</body>
</html>