<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<style>
body {
  font-family: arial, sans-serif;
  font-size: 1em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #FFEFD5;
}


</style>
<head>
    <meta charset="UTF-8">
    <title>Уроки</title>
</head>
<body>
<div th:switch="${lessons}">
    <h2 th:case="null">таблица уроков не найдена</h2>
    <div th:case="*">
        <h2>Уроки</h2>
        <table>
            <thead>
            <tr>
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <th>Id</th>
                </div>
                <th>Название предмета</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson : ${lessons}">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <td th:text="${lesson.id}"></td>
                </div>
                <td th:text="${lesson.title}"></td>
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <td><a th:href="@{lesson-update/{id}(id=${lesson.id})}">Редактировать</a></td>
                    <td><a th:href="@{lesson-delete/{id}(id=${lesson.id})}">Удалить</a></td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <p><a href="/lesson-create">Добавить урок</a></p>
    </div>
</div>
</body>
</html>