<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Редактирование урока</title>
</head>
<body>
<form action="#" th:action="@{/lesson-update}" th:object="${lesson}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="title">Название урока</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Название урока вписать сюда">
    <br/>

    <input type="submit" value="обновить информацию">
</form>
</body>
</html>