<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<style>
body {
  font-family: arial, sans-serif;
  font-size: 1em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #FFEFD5;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Расписание на дату</title>
</head>
<body>
<div th:switch="${records}">
    <h2 th:case="null">Нет записей об уроках</h2>
    <div th:case="*">
        <h2>Ваши занятия на эту дату</h2>
        <table>
            <thead>
            <tr>
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <th>Id</th>
                </div>
                <th>Кабинет</th>
                <th>Группы</th>
                <th>Преподаватель</th>
                <th>Урок</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record : ${records}">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <td th:text="${record.id}"></td>
                </div>
                <td th:text="${record.cabinet}"></td>
                <td th:text="${record.groups}"></td>
                <td th:text="${record.lecturer}"></td>
                <td th:text="${record.lesson}"></td>
                <td th:text="${record.time}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>