<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создать студента</title>
</head>
<body>
<form action="#" th:action="@{/student-create}" th:object="${students}" method="post">

    <label for="student.id">Имя</label>
    <input type="text" th:field="*{student.id}" id="student.id" placeholder="Имя впиать сюда">
    <br/>
    <label for="groupFk">id группы/курса</label>
    <input type="text" th:field="*{groupFk}" id="groupFk" placeholder="id группы впишите сюда">
    <br/>
    <input type="submit" value="Добавить студента">
    <br/>
    <a th:href="@{groups}">Посмотреть id групп</a>
</form>
</body>
</html>