<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
body {
  font-family: arial, sans-serif;
  font-size: 1em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #FFEFD5;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Студенты</title>
</head>
<body>
<div sec:authorize="ROLE_ADMIN" th:switch="${students}">
    <h2 th:case="null">No students found!</h2>
    <div th:case="*">
        <h2>Студенты</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Группа/курс</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.user}"></td>
                <td th:text="${student.groupFk}"></td>
                <td><a th:href="@{records/{id}/(id=${student.id})}">Расписание</a></td>
                <td><a th:href="@{student-update/{id}(id=${student.id})}">Редактировать</a></td>
                <td><a th:href="@{student-delete/{id}(id=${student.id})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/student-create">Добавить студента</a></p>
</div>
</body>
</html>